body {
    background-image: url("https://digitalassets.tesla.com/tesla-contents/image/upload/f_auto,q_auto/Model-S-New-Hero-Desktop-NA.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: sans-serif;
    height: 100vh;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    color: white;
}

h4 {
    text-align: center;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    background-color: #3e6ae1;
    border: none;
    padding: 16px;
    border-radius: 6px;
    color: white;
    width: 200px;
    font-size: 16px;
}

button:hover {
    background-color: #2c4ba1;
}

.topnav a#menu {
    background-color: rgba(255,255,255,0.2);
    border-radius: 8px;
}

.topnav a#menu:hover {
    background-color: rgba(255,255,255,0.5);
}

.logo {
    width: auto;
    height: 14px;
    filter: invert(1);
}

.navbar {
    position: sticky;
    color: white;
    overflow: hidden;
    padding: 8px 16px;
    font-size: 18px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
}


.nav-list {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 4px;
}

.nav-list-item {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-list-item a {
    padding: 4px 8px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.nav-list-item:hover {
    background-color: rgba(255,255,255,0.2);
    border-radius: 4px;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-box {
    display: flex;
    justify-content: left;
    align-items: center;
}

.right-box {
    display: flex;
    justify-content: right;
    align-items: center;
}

.support {
    width: 24px;
    height: 24px;
    filter: invert(1);
}